<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org"  layout:decorate="~{base2}">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<div class="wrapper">

<div th:replace="fragments/header::header"></div>

<main class="main">
<div class="time-table">
    <div class="class-head">Monday</div>
    <div class="class">1</div>
    <div class="class">2</div>
    <div class="class">3</div>
    <div class="class">4</div>
    <div class="class">5</div>
    <div class="class">6</div>
    <div class="class">7</div>
    <div class="class">8</div>
</div>
    <div class="time-table">
        <div class="class-head">Tuesday</div>
        <div class="class">1</div>
        <div class="class">2</div>
        <div class="class">3</div>
        <div class="class">4</div>
        <div class="class">5</div>
        <div class="class">6</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
    <div class="time-table">
        <div class="class-head">Wednesday</div>
        <div class="class">1</div>
        <div class="class">2</div>
        <div class="class">3</div>
        <div class="class">4</div>
        <div class="class">5</div>
        <div class="class">6</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
    <div class="time-table">
        <div class="class-head">Thursday</div>
        <div class="class">1</div>
        <div class="class">2</div>
        <div class="class">3</div>
        <div class="class">4</div>
        <div class="class">5</div>
        <div class="class">6</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
    <div class="time-table">
        <div class="class-head">Friday</div>
        <div class="class">1</div>
        <div class="class">2</div>
        <div class="class">3</div>
        <div class="class">4</div>
        <div class="class">5</div>
        <div class="class">6</div>
        <div class="class">7</div>
        <div class="class">8</div>
    </div>
</main>
<div th:replace="fragments/footer::footer"></div>
</div>
</html>