<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Theme</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div style ="border: 1px solid blue" class="wrapper">
<div th:replace="fragments/header::header"></div>
<main class="main">

    <div class="theme-page">
        <div class="theme-table">
            <div>Theme1</div>
            <div>Letter from  Elizabeth:
                Assessment Task 1
            </div>
            <div>
                CHANGING HOUSE
                In this extract, Lisa Newman says goodbye to her old house, they move to a new area. The girl recalls her life and imagines how the new owners will settle down.
                "There will be no more children here!" - Lisa stood in the room and her voice echoed sadly and angry throughout the empty house.
                For many years she lived in this room with her older sister Mona. And today they were going to go away and leave it. Lisa carefully examined everything around. She saw it for the last time. The blue curtain hanging in the window reminded her of how she fell asleep for hundreds of nights under her quiet flapping. Liza sadly said goodbye to her room.
                She went into every room to say goodbye to them. They all looked lonely.
                It was noisy in the house that morning. Workers carried out furniture, carpets and loaded everything into two vans. When it was all over, the house reminded Lisa of a lonely abandoned shell.
                Soon the new tenants will repaint and renovate everything. Not a single trace of the Newman family will remain in the house: a stain on the floor, traces of plasticine on the shelf, marks on the door of the growth of children and many other signs of a family that has lived here for many years. It was sad for Lisa that everything had to change.
                The house was bought by an elderly couple - a doctor and his wife. They were wealthy people. How quiet the house will soon become - old feet will walk on thick carpets and stairs, the door will no longer slam. The servants will silently set the table for breakfast, lunch and dinner.

            </div>
        </div>

        <div class="theme-table">
            <div>Theme2</div>
            <div><b>Non-verbal video :</b>
                Assessment Task 2

            </div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/uaWA2GbcnJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                1)	In the video we can see young man that helps lady to pull her carriage on the street, gives gay to the tired woman in transport, feeds a hungry dog in the cafe, treats the old lady(may be neighbor) bananas, replace a pot with the flower under water, gives money small girls that very needs the money.
                2)	The message/moral of the story: if you carry good deeds for other people and do that selflessly, to these good deeds will come back to you with such feelings that not money cannot buy.
                3)
                a) In my opinion it is not needs more words to convey the messages in this story. Every scene in this story is very impressive- poor(not rich) furniture , lack of lightning in the houses very contrast with bright images of people.
                b)  Every person in this story expresses emotions very clearly for all audiences, each of us can understand expression of perplexity or happiness our person in this story.
                c)We see expressions of perplexity on the face of old man when our hero gives money poor girl,  the dissatisfaction of the cook is clearly visible when the hero feeds the dog in a cafe -we clearly can easy interpret these messages.

            </div>
        </div>
        <div class="theme-table">
            <div>Theme3</div>
            <div>ASSESSMENT TASK 5<div>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/swCHkzsu2Og" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                For this assignment you must watch and interpret the video.
                •	Were you surprised at the actual product being advertised at the end? Explain your answer.
                •	Briefly tell the story of what happens in the video from start to finish.
                •	Interpret the message contained in the advertisement, and comment on if you think it is an effective advertisement for this product.

            </div>
        </div>
        <div class="theme-table">
            <div>Theme4</div>
        </div>
        <div class="theme-table">
            <div>Theme5</div>
        </div>
    </div>
</main>
    <div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>